#group-chat {
  .group-chat-window {
    height: calc(100vh - 103px);
    width: 100%;
    border: 1px solid lightgrey;
  }
}

.g-top-bar {
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 2px;
  display: block;
  text-align: center;
  padding: 7px 5px;
  background-color: lightgrey;
  height: 35px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  .checkbox {
    margin: 0;
  }
}

.g-chat-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100% - 35px);
}

.g-main, .g-aside {
  flex: 1 100%;
}

.g-aside { flex: 1 auto; }
.g-aside-1 { order: 1; border-right: 1px solid lightgrey; max-width: 382px; }
.g-main    { flex: 2 0; order: 2; }
.g-aside-2 { order: 3; border-left: 1px solid lightgrey; max-width: 382px; }

.g-aside-1.collapsed {
  max-width: 31px;
  background-color: #f8f8f8;
  .g-close-handle {
    right: 0;
  }
}

.g-aside-2 {
  .g-close-handle {
    left: -30px;
  }
}

.g-aside-2.collapsed {
  max-width: 31px;
  background-color: #f8f8f8;
  .g-close-handle {
    left: 0;
  }
}

.g-groups-area, .g-channel-area {
  display: inline-block;
  width: 50%;
}

.g-channel-area {
  border-left: 1px solid lightgrey;
}

.g-group-list,.g-channel-list {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    border-bottom: 1px solid lightgrey;
    padding: 7px;
    height: 35px;
    &.active {
      background-color: lightgrey;
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.g-channel-list {
  background-color: #f8f8f8;
}

a.g-group-name[data-tooltip]{
  position: relative;
}

a.g-group-name[data-tooltip]:before {
  position: absolute;
  left: 0;
  top: 22px;
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 15px;
  content: attr(data-tooltip);
  white-space: nowrap;
  display: none;
  z-index: 1;
}

a.g-group-name[data-tooltip]:after {
  position: absolute;
  left: 15px;
  top: 15px;
  border-top: 7px solid #000000;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: none;
  transform: rotate(180deg);
  z-index: 1;
}

a.g-group-name[data-tooltip]:hover:after, a.g-group-name[data-tooltip]:hover:before {
  display: block;
}

#g-group-chat-groups, #g-group-chat-participants {
  height: 100%;
  overflow: visible;
  position: relative;
}

#g-group-chat-groups .channels, #g-group-chat-participants .participants {
  width:1px;
  word-wrap: break-word;
  font-family: monospace;
  margin-top: 75px;
  padding-left: 10px;
}

.g-close-handle {
  width: 30px;
  position: absolute;
  top: 0;
  right: -30px;
  background-color: #f8f8f8;
  height: 68px;
  border-right: 0;
  border-top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  padding-top: 15px;
  padding-left: 0;
  color: grey;
  cursor: pointer;
  z-index: 1;
  margin-top: 1px;
}

.g-scroll {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#group-chat-message-window {
  display: block;
  height: calc(100% - 116px);
}

#group-chat-message-input {
  border-top: 1px solid lightgrey;
  display: block;
  height: 115px;
}

.g-chat-msgs {
  margin: 0;
  padding-left: 0;
  font-family: "Droid Sans Mono", sans-serif;
  font-size: 12px;
  overflow: auto;
  height: 100%;
  transform: scaleY(-1);
  display: inline-block;
  zoom: 1;
  width: 100%;
  li {
    list-style: none;
    transform: scaleY(-1);
  }
}

.g-chat-msg {
  padding: 1px;
}
