//colors
$black_25: rgba(0, 0, 0, 0.25);
$color_blumine_approx: #1b5480;
$white: #fff;
$black_35: rgba(0, 0, 0, 0.35);
$color_mariner_approx: #287bbc;
$color_matisse_approx: #23639a;
$color_astral_approx: #2672ae;
$color_chathams_blue_approx: #1e4f7e;
$color_shady_lady_approx: #a7a7a7;
$color_tundora_approx: #444;
$white_75: rgba(255, 255, 255, 0.75);
$concrete: #f2f2f2;
$color_gray_nurse_approx: #e9e9e9;
$color_mercury_approx: #e3e3e3;
$color_iron_approx: #d7d7d7;
$color_pink_swan_approx: #b9b9b9;
$black: #000000;
$black_50: rgba(0, 0, 0, 0.5);
$color_mine_shaft_approx: #333;

//fonts
$font_0: Helvetica;
$font_1: Arial;

//urls
$url_0: url(../img/sprite-green.png);

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0);
  }
}
.fade-in-up {
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateY(0);
  }
}
.fade-in-down {
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(0);
  }
}
.fade-in-right {
  animation-name: fadeInRight;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translateX(0);
  }
}
.fade-in-left {
  animation-name: fadeInLeft;
}
div.hopscotch-bubble {
  background-color: $white;
  border: 5px solid $black;
  border: 5px solid $black_50;
  color: $color_mine_shaft_approx;
  font-family: $font_0, $font_1;
  font-size: 13px;
  position: absolute;
  z-index: 999999;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: content-box;
  //Instead of the line below you could use @include background-clip($clip)
  background-clip: padding-box;
  .hopscotch-nav-button {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    font-size: 12px;
    *zoom: 1;
    white-space: nowrap;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    &:hover {
      *zoom: 1;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 1px 3px $black_25;
    }
    &:active {
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 1px 2px $black_25 inset;
    }
    &.next {
      border-color: $color_blumine_approx;
      color: $white;
      margin: 0 0 0 10px;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 1px $black_35;
      background-color: $color_mariner_approx;
      filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='$color_mariner_approx', endcolorstr='$color_matisse_approx');
      background-image: linear-gradient(top, $color_mariner_approx 0, $color_matisse_approx 100%);
      &:hover {
        background-color: $color_astral_approx;
        filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='$color_astral_approx', endcolorstr='$color_chathams_blue_approx');
        background-image: linear-gradient(top, $color_astral_approx 0, $color_chathams_blue_approx 100%);
      }
    }
    &.prev {
      border-color: $color_shady_lady_approx;
      color: $color_tundora_approx;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 0 1px 1px $white_75;
      background-color: $concrete;
      filter: progid:dximagetransform.microsoft.gradient(gradienttype=0, startcolorstr='$concrete', endcolorstr='$color_gray_nurse_approx');
      background-image: linear-gradient(top, $concrete 0, $color_gray_nurse_approx 100%);
      &:hover {
        background-color: $color_gray_nurse_approx;
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE8E8E8', endColorstr='#FFA9A9A9');
        background-image: linear-gradient(top, $color_gray_nurse_approx 0, $color_mercury_approx 13%, $color_iron_approx 32%, $color_pink_swan_approx 71%, $color_shady_lady_approx 100%);
      }
    }
  }
  * {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
  }
  &.animate {
    //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
    transition-property: top, left;
    //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
    transition-duration: 1s;
    //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
    transition-timing-function: ease-in-out;
  }
  &.invisible {
    opacity: 0;
  }
  &.hide {
    display: none;
  }
  .hide {
    display: none;
  }
  .hide-all {
    display: none;
  }
  h3 {
    color: $black;
    font-family: $font_0, $font_1;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin: -1px 15px 0 0;
    padding: 0;
  }
  .hopscotch-bubble-container {
    padding: 15px;
    position: relative;
    text-align: left;
  }
  .hopscotch-content {
    font-family: $font_0, $font_1;
    font-weight: normal;
    line-height: 17px;
    margin: -5px 0 11px;
    padding-top: 8px;
  }
  .hopscotch-bubble-content {
    margin: 0 0 0 40px;
  }
  .hopscotch-bubble-close {
    appearance: none;
    border: 0;
    color: $black;
    background: transparent $url_0 -192px -92px no-repeat;
    display: block;
    padding: 8px;
    position: absolute;
    text-decoration: none;
    text-indent: -9999px;
    width: 8px;
    height: 8px;
    top: 0;
    right: 0;
    &.hide {
      display: none;
    }
    &.hide-all {
      display: none;
    }
  }
  .hopscotch-bubble-number {
    background: transparent $url_0 0 0 no-repeat;
    color: $white;
    display: block;
    float: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px 0 0;
    text-align: center;
    width: 30px;
    height: 30px;
  }
  .hopscotch-bubble-arrow-container {
    position: absolute;
    width: 34px;
    height: 34px;
    .hopscotch-bubble-arrow {
      width: 0;
      height: 0;
    }
    .hopscotch-bubble-arrow-border {
      width: 0;
      height: 0;
    }
    &.up {
      top: -22px;
      left: 10px;
      .hopscotch-bubble-arrow {
        border-bottom: 17px solid $white;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        position: relative;
        top: -10px;
      }
      .hopscotch-bubble-arrow-border {
        border-bottom: 17px solid $black;
        border-bottom: 17px solid $black_50;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
      }
    }
    &.down {
      bottom: -39px;
      left: 10px;
      .hopscotch-bubble-arrow {
        border-top: 17px solid $white;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        position: relative;
        top: -24px;
      }
      .hopscotch-bubble-arrow-border {
        border-top: 17px solid $black;
        border-top: 17px solid $black_50;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
      }
    }
    &.left {
      top: 10px;
      left: -22px;
      .hopscotch-bubble-arrow {
        border-bottom: 17px solid transparent;
        border-right: 17px solid $white;
        border-top: 17px solid transparent;
        position: relative;
        left: 7px;
        top: -34px;
      }
      .hopscotch-bubble-arrow-border {
        border-right: 17px solid $black;
        border-right: 17px solid $black_50;
        border-bottom: 17px solid transparent;
        border-top: 17px solid transparent;
      }
    }
    &.right {
      top: 10px;
      right: -39px;
      .hopscotch-bubble-arrow {
        border-bottom: 17px solid transparent;
        border-left: 17px solid $white;
        border-top: 17px solid transparent;
        position: relative;
        left: -7px;
        top: -34px;
      }
      .hopscotch-bubble-arrow-border {
        border-left: 17px solid $black;
        border-left: 17px solid $black_50;
        border-bottom: 17px solid transparent;
        border-top: 17px solid transparent;
      }
    }
  }
  .hopscotch-actions {
    margin: 10px 0 0;
    text-align: right;
  }
  &.no-number .hopscotch-bubble-content {
    margin: 0;
  }
}