.change-user-roles-modal {
  .modal-dialog {
    width: 95%;
  }
}

.ld-admin {
  height: 100%;
}

.infinite-example {
  border: 1px solid #ddd;
  margin: auto;
  margin-bottom: 20px;
  width: 90%;
  width: calc(100% - 28px);
  height: calc(100vh - 180px);
}
.infinite-example-header {
  border: 1px solid #ddd;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  width: 90%;
  width: calc(100% - 28px);
}
.infinite-list-item {
  text-align: center;
  width: 100%;
  margin: auto;
  vertical-align: bottom;
  height: 40px;
  &.expanded {
    height: 100px;
  }
}
.infinite-list-item {
  border-bottom: 1px solid #ddd;
}
.infinite-list-item:last-child span {
  border-bottom: 0;
}
