/*.infinite-list-item {
  text-align: center;
  width: 80vw;
  margin: auto;
  vertical-align: bottom;
}
.infinite-list-item {
  border-bottom: 1px solid #ddd;
}
.infinite-list-item:last-child span {
  border-bottom: 0;
}*/

.infinite-list-item-chat {
  height: 51px;
}