ul.timeline {
  list-style: none;
  margin: 0 0 0 120px;
  padding-left: 30px;
  border-left: 8px solid #999999;
  position: relative;
  > li.tl-item {
    margin: 0 0 40px 0;
    position: relative;
    > .content {
      > .lbl {
        font-size: 1.3em;
        position: absolute;
        z-index: 100;
        cursor: pointer;
        top: 20px;
        transition: transform 0.2s linear;
      }
      > .date {
        margin-top: -10px;
        top: 50%;
        left: -138px;
        font-size: 0.95em;
        line-height: 20px;
        position: absolute;
      }
      > .circle {
        margin-top: -10px;
        top: 50%;
        left: -44px;
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        border: 5px solid #999999;
        border-radius: 50%;
        display: block;
        position: absolute;
      }
    }

    > .placeholder {
      max-height: 20px;
      padding: 50px 20px 0;
      border-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-radius: 0.5em;
      position: relative;
    }
  }
}

#history {
  height: 400px;
  overflow-y: auto;
}
