.cctx {
  position: absolute;
  z-index: 2147383647;
  min-width: 300px;
  background-color: #FFF;
  color: #000;
  border: solid 1px #BABABA;
  box-shadow: 2px 2px 4px #ABABAB;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 12px;
  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2px;
    margin-top: 2px;
  }
}

.cctx-item {
  position: relative;
  cursor: pointer;
  padding: 7px 10px;
  &:hover {
    background-color: #357A9C;
    color: white;
  }
}

.cctx-item-icon {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
}

.cctx-separator {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px #E9E9E9;
}
