.commenting-section {
  textarea {
    letter-spacing: 0.1px;
  }
}

.attachments-bar {
  position: relative;
  height: 100%;
  width: 4.000rem;
  background-color: #337ab7;
  z-index: 1;
}

.breadcrumb-tag-wrapper {
  padding: 10px;
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tag-bar, .hierarchy-bar {
    padding-left: 4px;
  }
  .tag-bar {
    position: relative;
    label {
      padding-left: 4px;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      color: #9e9e9e;
      font-size: 12px;
      cursor: text;
      -webkit-transition: .2s ease-out;
      -moz-transition: .2s ease-out;
      -o-transition: .2s ease-out;
      -ms-transition: .2s ease-out;
      transition: .2s ease-out;
      &.active {
        color: #01BCD4;
      }
    }
    .user-tags {
      padding-top: 5px;
    }
  }
}

.main-content {
  .panel-body {
    position: relative;
    height: 400px;
    padding: 0;
    > .content {
      position: absolute;
      width: 100%;
      height: 400px;
      top: 0;
      padding: 0;
      padding-left: calc(4.000rem);
      overflow-y: auto;
    }
  }
  .document-title {
    background-color: #E8880C;
    display: inline-block;
    padding: 7px;
    word-wrap: break-word;
    margin-left: calc(4.000rem - 15px);
  }
}

.comment {
  position: relative;
}

.avatar-img-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.000rem;
  img {
    width: 28px;
    height: 28px;
  }
}

.comment-content-wrapper {
  position: relative;
  width: 100%;
  padding-left: 4.000rem;
  .datetime {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
  }
  .options-bar {
    margin-top: 10px;
    .options-buttons {
      display: inline-block;
    }
  }
  .rating-wrapper {
    float: right;
    display: inline-block;
    margin-left: 10px;
  }
  .rating-lbl-wrapper {
    display: inline-block;
    height: 30px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 10px;
    color: #999999;
  }
  .content-text.not-editable {
    > div {
      > div {
        border: 0!important;
      }
    }
    div {
      min-height: 0!important;
      height: auto!important;
    }
    textarea {
      min-height: 0!important;
      height: auto!important;
    }
  }
  .well {
    padding: 9px;
    display: inline-block;
  }
}

.commenting-header {
  position: relative;
  .options-top-bar {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
  }
}

.reply-wrapper {
  position: relative;
  margin-left: 4.000rem;
  padding: 10px;
  background-color: #efefef;
  margin-bottom: 10px;
  .options-bar {
    margin-top: 10px;
    button {
      float: right;
    }
  }
}

.create-new-comment-wrapper {
  margin-bottom: 20px;
  .options-bar {
    margin-top: 10px;
    button {
      float: right;
    }
  }
}

.replies-area {
  padding-left: calc(4.000rem + 15px);
}

.caret {
  transition: rotate 0.5s;
}

.caret-right {
  transform: rotate(-90deg);
}

.document-list-item {
  height: 46px;
  &:hover {
    .div-table-col {
      background-color: lightblue;
    }
  }
  transition: background-color 0.5s;
  cursor: pointer;
}

.attachment-icons {
  color: white;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  li {
    cursor: pointer;
    padding: 0.417rem 0 0.417rem 0;
    min-height: 3.429rem;
    .icon-wrapper {
      display: flex;
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      span {
        font-size: 1.333rem;
        margin: auto;
        display: flex;
      }
    }
    &.active, &:hover {
      box-shadow: 0 0.071rem 0.429rem 0 rgba(0, 0, 0, 0.12), 0 0.071rem 0.429rem 0 rgba(0, 0, 0, 0.12);
      cursor: pointer;
      color: black;
    }
    &.active {
      background-color: white;
      &:hover {
        background-color: white;
      }
    }
    &:hover {
      background-color: lightgrey;
    }
  }
}

.document {
  .panel-heading {
    .options-buttons {
      float: right;
    }
  }
}

#document-sharing-tab {
  .react-selectize.simple-select {
    .react-selectize-control {
      height: 51px;
    }
  }
}

#content-editor {
  .etherpad-editor-wrapper {
    > iframe {
      width: 100%;
      height: 400px;
    }
  }
}

#content-viewer {
  padding: 14px;
  overflow: auto;
  width: 100%;
  height: 400px;
  > div {
    width: 850px;
    font-size: 12px;
    line-height: 16px;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
    padding: 1px 10px 8px 1px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    -webkit-box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 13px 0px rgba(0,0,0,0.75);
    min-height: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.document-title-area {
  display: inline-block;
  input {
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
  }
}

.change-document-title-btns {
  display: inline-block;
}

#tinymceTextarea, .mce-tinymce.mce-container.mce-panel {
  visibility: hidden!important;
  height: 0;
  width: 0;
}

#printf {
  visibility: hidden;
  height: 0;
  width: 0;
}

.breadcrumbs-bar {
  .lbl {
    padding: 0.571rem 1.071rem;
    padding-bottom: 0.357rem;
    padding-right: 0;
    display: inline-block;
    a {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.429rem;
    }
  }
  ol.breadcrumb {
    display: inline;
    border-radius: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 0.571rem 1.071rem;
    padding-bottom: 0;
    li  {
      padding-bottom: 0.357rem;
      a {
        display: inline-block;
        padding: 0.357rem;
        color: rgb(102, 102, 102);
        font-family: RobotoDraft, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.429rem;
        &.active {
          font-weight: 300;
          background-color: black;
          border-radius: 0.286rem;
          color: white;
        }
      }
    }
    &> li + li:before {
      color: black;
      font-weight: 600;
    }
  }
}

.breadcrumb-tag-wrapper {
  -webkit-box-shadow: inset 0 0.071rem 0 rgba(255, 255, 255, 0.15), 0 0.071rem 0.357rem rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0.071rem 0 rgba(255, 255, 255, 0.15), 0 0.071rem 0.357rem rgba(0, 0, 0, 0.075);
  margin-bottom: 0.714rem;
}

.selected-paragraph-wrapper {
  border: 1px solid black;
  padding: 7px 7px 0 7px;
  background: lightgoldenrodyellow;
  max-height: 170px;
  overflow: auto;
}

.subdocument-toggle {
  span.badge {
    padding: 0;
    margin-left: 5px;
  }
}

.main-content.panel.panel-primary.show-sub-docs {
  width: calc(100% - 207px);
  float: left;
}

#subdocument-list {
  width: 206px;
  height: 453px;
  float: left;
  overflow: hidden;
  .panel-body {
    padding: 5px;
    overflow: auto;
    height: 100%;
  }
  ul.s-document-list {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      border-bottom: 1px solid lightgrey;
    }
  }
}

@import './sharing/_sharing';
@import './mainContent/fileAttachments/_fileAttachments.scss';
@import './mainContent/history/_history.scss';
@import './mainContent/contentEditor/_context_menu.scss';
