.attachments-bar {
  position: relative;
  height: 100%;
  width: 4.000rem;
  background-color: #337ab7;
  z-index: 1;
}

.breadcrumb-tag-wrapper {
  padding: 10px;
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tag-bar, .hierarchy-bar {
    padding-left: 4px;
  }
}

.main-content {
  .panel-body {
    position: relative;
    height: 400px;
    padding: 0;
    .content {
      padding: 15px;
      position: absolute;
      width: 100%;
      height: 28.571rem;
      top: 0;
      padding-left: calc(4.000rem + 15px);
    }
  }
  .document-title {
    background-color: #E8880C;
    display: inline-block;
    padding: 10px;
    word-wrap: break-word;
    margin-left: calc(4.000rem - 15px);
  }
}

.comment {
  position: relative;
}

.avatar-img-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.000rem;
  img {
    width: 28px;
    height: 28px;
  }
}

.comment-content-wrapper {
  position: relative;
  width: 100%;
  padding-left: 4.000rem;
  .datetime {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
  }
  .options-bar {
    margin-top: 10px;
    .options-buttons {
      display: inline-block;
    }
  }
  .rating-wrapper {
    float: right;
    display: inline-block;
    margin-left: 10px;
  }
  .rating-lbl-wrapper {
    display: inline-block;
    height: 30px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: 10px;
    color: #999999;
  }
}

.commenting-header {
  position: relative;
  .options-top-bar {
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    color: #999999;
  }
}

.reply-wrapper {
  position: relative;
  margin-left: 4.000rem;
  padding: 10px;
  background-color: #efefef;
  margin-bottom: 10px;
  .options-bar {
    margin-top: 10px;
    button {
      float: right;
    }
  }
}

.create-new-comment-wrapper {
  margin-bottom: 20px;
  .options-bar {
    margin-top: 10px;
    button {
      float: right;
    }
  }
}

.replies-area {
  padding-left: calc(4.000rem + 15px);
}

.caret {
  transition: rotate 0.5s;
}

.caret-right {
  transform: rotate(-90deg);
}

tr.document-list-item {
  &:hover {
    td {
      background-color: lightblue;
    }
  }
  transition: background-color 0.5s;
  cursor: pointer;
}