.ld-verify-and-tos {
  .progress {
    margin-bottom: 0;
  }
  .steps-left-message {
    font-size: 16px;
    margin-bottom: 7px;
  }
}

#ld-verify-email-panel {
  table {
    margin-bottom: 0;
    td {
      vertical-align: middle;
    }
  }
  .status-indicator-base {
    display: inline-block;
    margin-right: 7px;
    float: left;
    margin-top: 7px;
  }
}

.avatar-nav-item {
  .avatar {
    img {
      height: 50px;
      width: 50px;
    }
  }
}