#ld-helcenter-wrapper {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
}

#ld-helpcenter {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  color: #fff;
  padding: 5px 10px;
  font-family: 'sofiapro',Arial,sans-serif;
  font-size: 14px;
  background-color: #428bca;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #357ebc;
  height: 30px;
  z-index: 1;
  width: 200px;
  float: right;
  border-bottom: 0;
}

#ld-helpcenter-panel {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  position: relative;
  max-height: 300px;
  min-height: 50px;
  background-color: #428bca;
  border: 1px solid #357ebc;
  font-size: 14px;
  font-family: 'sofiapro',Arial,sans-serif;
  padding: 0;
  float: right;
}

.ld-help-center-menu {
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  > li {
    a {
      cursor: pointer;
      display: block;
      color: white;
      padding: 3px 20px;
      background-color: #428bca;
      &:hover {
        color: white;
        background-color: #357ebc;
      }
      text-decoration: none;
    }
  }
  > .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
}

#help-process-title {
  color: white;
  font-weight: bold;
  display: block;
  padding: 3px 20px;
  background-color: #428bca;
}

.ld-help-center-submenu {
  padding-left: 18px;
}

#ld-help-search-form-group {
  display: inline-block;
  margin-top: 7.5px;
  margin-left: 10px;
  margin-bottom: 0;
}

.ld-help-search-input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}