.ld-sidebar {
  overflow: visible!important;
  .close-handle {
    width: 30px;
    position: absolute;
    top: 0;
    left: -30px;
    background-color: white;
    height: 68px;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    padding-top: 15px;
    padding-left: 0;
    color: grey;
  }
}
.ld-sidebar-content {
  width: 305px;
  ul.nav {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
  }
  #login-dropdown-list {
    width: auto;
    display: inline-block;
    float: left;
    height: 68px;
    .dropdown-toggle {
      padding-top: 16px;
      padding-bottom: 33px;
      word-break: break-all;
      width: 170px;
    }
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
  .sidebar-avatar {
    height: 48px;
    width: 48px;
  }
  .sidebar-logout {
    a {
      height: 68px;
      font-size: 25px;
      padding-top: 20px;
      color: #d9534f;
    }
  }
}

#communication-category-tabs {
  ul.nav-tabs > li {
    width: 101px;
    &.active {
      a {
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: ' ';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 10px 20px;
          border-color: transparent transparent #337ab7 transparent;
          margin-top: -15px;
          margin-left: 30px;
        }
      }
    }
    a {
      text-align: center;
    }
  }
}

.ld-friendlist {
  .top-bar {
    padding: 7px;
    .form-control {
      display: inline-block;
      width: 156px;
      margin-left: 10px;
    }
  }
  hr.no-margin {
    margin: 0;
  }
  .friend-container {
    padding: 7px;
    .collapse-btn {
      display: inline-block;
      background-color: #337ab7;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 6px;
      color: white;
    }
    .dropdown-basic-filter {
      box-shadow: none;
      background-color: white;
      margin-top: -5px;
      &:hover {
        background-color: #f0f0f0;
        color: #333;
        border-color: #adadad;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
      }
    }
    .inner-container {
      padding: 5px 5px 5px 10px;
    }
  }
}